body{
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: #e6e2ec;
    justify-content: center;
    align-items: center;
}

.content{
    background-color: white;
    height: 40vh;
    width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2{
    font-weight: bold;
}

.input{
    display: flex;
    flex-direction: column;
}

#name{
    border: none;
    border-bottom: 1px solid black;   
    margin: 20px 20px 0px 0px;
}

#pass{
    border: none;
    border-bottom: 1px solid black;   
    margin: 20px 20px 20px 0px;
}

button{
    margin-top: 10px;
    margin-right: 22px;
    width: 55%;
    background-color: lightskyblue;
    color: white;
}